@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Jockey+One&family=Josefin+Sans:wght@300;400;500;600;700&display=swap";
@import "../components/playArea/modules/style.scss";

html {
  font-size: clamp(16px, 3vw, 38px);
}
body {
  display: flex;
  flex-direction: column;
}
ul,
li {
  padding: 0;
  margin: 0;
}
