@import "../../../style/media.scss";

:root {
  --row: 10;
  --column: 10;
}
@keyframes openCell {
  from {
    // transform: scale(0.8);
  }
  to {
    // transform: scale(1);
  }
}
@keyframes Explosion {
  0% {
    transform: scale(0.8);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(1);
  }
  20% {
    transform: scale(1.1);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(3);
  }
  40% {
    transform: scale(0.8);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(1);
  }
  60% {
    transform: scale(1.1);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(3);
  }
  80% {
    transform: scale(0.8);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(5);
    opacity: 0;
  }
}
.play-area {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  background: #fafafa;
  border: 2px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  grid-template-columns: repeat(var(--column), clamp(36px, 2.4vw, 48px));
  grid-template-rows: repeat(var(--row), clamp(36px, 2.4vw, 48px));
  @include _990 {
    grid-template-columns: repeat(var(--column), clamp(24px, 5vw, 36px));
    grid-template-rows: repeat(var(--row), clamp(24px, 5vw, 36px));
  }
}

.cell {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 28px);
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  // border-radius: 8px;
  transition: 0.3s;
  &.close {
    &.light {
      background: linear-gradient(180deg, #5c7784 0%, #567a8b 100%);
      &:hover {
        box-shadow: inset 0px 0px 2px 2px #445f6d;
      }
    }
    &.dark {
      border-bottom: solid 4px #4d6773;
      background: linear-gradient(180deg, #485e68 0%, #446170 100%);
    }
  }

  &.close:hover {
    // transform: scale(0.92);
    border-bottom: solid 0px transparent;
  }
  &.close:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: 0.1;
  }
  &.open {
    animation: openCell 0.3s;
    // transform: scale(1);
    &.light {
      background: #fafafa;
      // linear-gradient(180deg, #D9D9D9 0%, #E7E7E7 100%);
    }
    &.dark {
      background: #e8e8e8;
      // linear-gradient(180deg,  0%, #DAD9D9 100%);
    }
    &.bomb {
      background: rgb(255 59 38);
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
  }

  & .cell-bomb {
    width: 70%;
    height: 70%;
    padding-left: 14%;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) saturate(200%)
      brightness(1);
    transform: rotate(0.11deg);
    animation: Explosion 1.8s forwards;
  }
  &.close.flag {
    z-index: 1;
  }
  &.close.flag::before {
    content: "";
    position: absolute;
    top: -20%;
    right: -24%;
    width: 86%;
    height: 86%;
    background-image: url("../assets/img/flag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    filter: saturate(130%);
    pointer-events: none;
    transform: rotate(15.47deg);
  }
  &.close.flag:hover {
    // transform: scale(1);
    z-index: 1;
  }
}

body.dark {
  background: #46606c;

  .play-area {
    filter: invert(1) hue-rotate(170deg);
  }
}
